.square {
    border: 2px dotted red;
    margin: 35px;
    height: 500px;
}




body {
    font-family: sans-serif;
  }
  
  .title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
  }
